$navBgColor: #406062;
$tabColor: #FFFFFF;
$tabBgColor: rgb(40, 64, 65);
$tabFontFamily: georgia, "times new roman", serif;
$tabDropdownColor: #FFFFFF;
$mainBgColor: #202020;
$mainTextColor: #FFFFFF;
$mainLinkColor: #7BCBB2;
$subduedTextColor: #A0A0A0;
$mainFontFamily: "DejaVu Sans",verdana,Calibri,"Trebuchet MS",sans-serif;
$secondaryBgColor: #303030;
$tertiaryBgColor: #292929;
