$navBgColor: #406062;
$tabColor: #FFFFFF;
$tabBgColor: rgb(40, 64, 65);
$tabFontFamily: georgia, "times new roman", serif;
$tabDropdownColor: #FFFFFF;
$mainBgColor: #202020;
$mainTextColor: #FFFFFF;
$mainLinkColor: #7BCBB2;
$mainFontFamily: "DejaVu Sans",verdana,Calibri,"Trebuchet MS",sans-serif;
$secondaryBgColor: #303030;

@import 'navbar';
@import 'chat';

@font-face
{
    font-family: 'DejaVu Sans';
    src: url('/fonts/DejaVuSans.ttf') format('truetype');
}

html, body
{
    background-color: $mainBgColor;
    font-family: $mainFontFamily;
    height: 100%;
    width: 100%;
}

input, select, button
{
    color: #000;
}

a, a:hover
{
    color: $mainLinkColor;
}

#content
{
    color: $mainTextColor;
    height: 80%;
    padding: 30px 50px;
}

.modal-header, .modal-footer
{
    background-color: $navBgColor;
    color: $mainTextColor;
}

.modal-body
{
    background-color: $mainBgColor;
    color: $mainTextColor;
}

.form-group.required .control-label:before
{
    color: red;
    content: "*";
    position: absolute;
    margin-left: -15px;
}
