@import 'definitions';
@import 'navbar';
@import 'chat';

@font-face
{
    font-family: 'DejaVu Sans';
    src: url('/fonts/DejaVuSans.ttf') format('truetype');
}

html, body
{
    background-color: $mainBgColor;
    font-family: $mainFontFamily;
    height: 100%;
    width: 100%;
}

input, select, button
{
    color: #000;
}

a, a:hover
{
    color: $mainLinkColor;
}

#content
{
    color: $mainTextColor;
    height: 80%;
    padding: 30px 50px;
}

.modal-header, .modal-footer
{
    background-color: $navBgColor;
    color: $mainTextColor;
}

.modal-body
{
    background-color: $mainBgColor;
    color: $mainTextColor;
}

.form-group.required .control-label:before
{
    color: red;
    content: "*";
    position: absolute;
    margin-left: -15px;
}
